@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistSans';
  src: url('/app/fonts/GeistVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/app/fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-bottom: 180px;
}

body {
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
}
